@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto+Slab&display=swap');
body{
    background-color: #f2f2f2;
    background-size: 100%;
    background-repeat: no-repeat;
}
.header{
    color:#595959;
    padding-left: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.header img{
    height: 40px;
    width: 40px;
}
.header span{
    font-family: 'lobster', cursive;
    font-size: 35px;
}
.intro{
    position: relative;
    display: block;
    width: 100%;
    background: transparent;
    padding: 30px;
}
.milktea{
    border: 2px solid black;
    display: inline-block;
    margin: auto;
    padding: auto;
}
.milktea img{
    width: 250px;
    height: 225px;
}
.motto{
    display: inline-block;
    margin: auto;
    width: 500px;
    padding: auto;
}
#motto-text{
    margin-top: 0px;
    color:#595959;
    font-family: 'Roboto Slab', serif;
    font-size: 55px;
}
.signin, form{
    display: block;
    margin: auto;
    width: 100px;
}