@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
body{
    background-color: #f2f2f2;
    background-size: 100%;
    background-repeat: no-repeat;
}
.header{
    color:#595959;
    padding-left: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.header img{
    height: 40px;
    width: 40px;
}
.header span{
    font-family: 'lobster', cursive;
    font-size: 35px;
}
.intro{
    position: relative;
    display: block;
    width: 70%;
    height: 300px;
    margin: auto;
    background: transparent;
}
.motto{
    display: inline-block;
    width: 500px;
    height: 260px;
    padding: auto;
    vertical-align: top;
}
#motto-text{
    margin-top: 0px;
    color:#595959;
    font-family: 'Roboto Slab', serif;
    font-size: 55px;
}

.milktea{
    display: inline-block;
    padding: 5px;
    vertical-align: top;
    height: 260px;
}
.milktea img{
    width: 250px;
    height: 225px;
}
.signin{
    text-align: center;
    border: 10px #dfa367 solid;
    display: inline-block;
    margin-left: 50px;
    width: 350px;
    height: 260px;
    padding: 10px;
    vertical-align: top;
}
.testform{
    margin: auto;
    padding: 20px;
    width: 200px;
    height: 150px;
}
.signinfont{
    color: #595959;
    font-family: 'Bree Serif', serif;
    font-size: 50px;
}
input{ 
    border: 2px solid #dfa367;
    margin-bottom: 20px;
    width: 180px;
    font-size: 30px;
    height: 30px;
}
input::placeholder{
    color: #757070;
    opacity: 1;
}
button{
    width: 100px;
    height: 30px;
    float: right;
    background-color: #dfa367;
    color: #f2f2f2;
}