@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
body{
    background-color:#f2f2f2;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-right: 0px;
}
.header{
    color:#595959;
    padding-left: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    
}
.header img{
    height: 50px;
    width: 50px;
    margin: 10px;
}
.header span{
    font-family: 'lobster', cursive;
    font-size: 35px;
}
.header a{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: inherit;
    }
.header a:hover{
    text-decoration: none;
    color: inherit;
}

.sidebar{
    background-color: whitesmoke;
    height: 100%; 
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0; 
    left: 0;
    overflow-x: hidden; 
    padding-top: 80px;
    transition: 0.5s;
}
#sidebar-btn{
    font-size: 40px;
    margin-left: 10px;
    cursor: pointer;
}
.closebtn{
    font-size: 40px;
    margin-left: 280px;
}
.sidebarlogo{
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}
.sidebarlogo h1{
    font-family: 'Fredoka One', cursive;
}
#circleimg{
    margin: auto;
    height: 190px;
    width: 200px;
    border-radius: 100px;
}
.list-group-item{
    color:#595959;
    text-align: left;
    font-size: 30px;
   font-family: 'Fredoka One', cursive;
}
.list-group-item:hover{
    font-weight: 300;
    color: white;
    background-color: rgba(255, 159, 64, 1);
}
.list-group a, .list-group a:hover{
    text-decoration: none;
    color: inherit;
}
.burger{
    width: 17%;
    display: inline-block;
    vertical-align: top;
}
.itemHeader{
    width: 70%;
    display: inline-block;
    vertical-align: top;
}
.itemHeader img{
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
}
.itemHeader span{
    font-family: 'lobster', cursive;
    font-size: 55px;
}
.totheright{
    float: right;
    padding-top: 30px;
    padding-right: 15px;
}
#filter, #order, #search, #addItem, .itemHeader label{
    color: #595959;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
}
#addItem, .itemHeader label{
    margin-left: 50px;
}
input, select{
    border: 0;
    border-bottom: 3px solid #dfa367;
}
input:focus, select:focus{
    outline: none;
}
button{
    border-radius: 50px;
    color: #f2f2f2;
    background-color: #dfa367;
}